@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.details span {
  border: 2px solid rgb(187, 187, 235);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 4px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}
